<div th:fragments="navBar"> 
  <nav class="row navbar navbar-inverse">
    <div class="container-fluid" style="color: #00aced">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="color: #00aced">
          <i class="fab fa-twitter"></i>Tweeter</a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
          <li><a href="/" style="color: #00aced">Home</a></li>
          <li><a href="/tweets/new" style="color: #00aced">New Tweet</a></li>
          <li><a href="/users" style="color: #00aced">Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li sec:authorize="isAuthenticated()">
            <a href="../users/sec:authentication='name'" style="pointer-events: none; color: #00aced"> 
              @<span sec:authentication="name"></span>
            </a>
          </li>
          <li sec:authorize="isAuthenticated()">
            <a href="../logout" style="color: #00aced">Logout</a>
          </li>
          <li sec:authorize="!isAuthenticated()">
            <a href="../signup" style="color: #00aced">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
  